/* =====================
      profilo user
====================== */
.user {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: var(--top-bar-color);
}

.user-info {
   display: flex;
   align-items: center;
}

/* =====================
     hero notifiche
====================== */
.hero {
   display: flex;
   align-items: center;
   gap: 0.6rem;
   background-color: var(--accent-color);
}

/* hero icon (la campenalla barrata) */
.hero > .rounded-circle {
   color: var(--accent-color);
   background-color: white;
   width: 3rem;
   height: 3rem;
   text-align: center;
   line-height: 3rem;
}

.hero i {
   font-size: 1.2rem;
}

/* hero text */
.hero-text {
   line-height: 1.1;
}

.hero-text small {
   color: #b6b9bb;
   text-decoration: underline;
   font-size: 0.85rem;
}

.hero-text small:hover {
   color: white;
}

/* =====================
     search
====================== */
.search-bar {
   padding: 5px 8px;
   display: flex;
   background-color: #fafafa;
}

.search-bar > * {
   border-radius: unset;
}

.search-bar input {
   flex-grow: 1;
   border: none;
   font-size: 0.875rem;
   background-color: white;
}

.search-btn {
   background-color: white;
}
