/* =====================
      commons
====================== */
.avatar-md {
   width: 3.2rem;
}

.avatar-lg {
   width: 3.8rem;
}

/* =====================
      typography
====================== */
body {
   font-family: 'Lato', sans-serif;
}
/* =====================
      icons
====================== */
i {
   cursor: pointer;
}

.icons {
   font-size: 1.3rem;
}

.icons i:not(:last-child) {
   margin-inline-end: 1rem;
}

.icons-light {
   color: var(--icon-color-light);
}

.icons-dark {
   color: var(--icon-color-dark);
}

/* =====================
      scrollbar
====================== */
/* chrome */
::-webkit-scrollbar {
   width: 12px;
   background-color: var(--bar-color);
}

::-webkit-scrollbar-thumb {
   background-color: var(--primary-bg-color);
   border-radius: 0.625rem;
}
/* firefox */
* {
   scrollbar-width: 12px;
   scrollbar-color: var(--primary-bg-color) var(--bar-color);
}
