/* =====================
      my variables 
====================== */
:root {
   /*bg-colors*/
   --primary-bg-color: #009688;
   --secondary-bg-color: #d9dbd4;
   /* most used colors */
   --bar-color: #eaeaea;
   --app-primary-color: #e5ddd5;
   --accent-color: #8edafc;
   --sent-color: #d5f9ba;
   --chat-color-dark: #e9ebeb;
   --sm-text-color: #b6b9bb;
   /* icons colors */
   --icon-color-light: #b1b1b1;
   --icon-color-dark: #6b7376;
}

/* =====================
      typography
====================== */
body {
   font-family: 'Lato', sans-serif;
}

/* =====================
      macro-areas
====================== */

body {
   height: 100vh;
   background-image: linear-gradient(var(--primary-bg-color) 15%, var(--secondary-bg-color) 15% 100%);
   padding: 1.5625rem 0;
}

#app {
   max-width: 75rem;
   margin: 0 auto;
   height: 100%;
   display: flex;
}

aside {
   width: 35%;
   flex-shrink: 0;
}

main {
   flex-grow: 1;
}
