main {
   display: flex;
   flex-direction: column;
}
/* =====================
       top
====================== */
.top {
   background-color: var(--bar-color);
}

.top .contact {
   align-items: center;
   padding-inline: 1rem;
}

.top .icons {
   margin-left: auto;
}
/* =====================
      chat main
====================== */
.chat {
   background-image: url('../img/mine.jpg');
   flex-grow: 1;
}
/* =====================
       bottom
====================== */
.bottom {
   display: flex;
   background-color: var(--bar-color);
}

.bottom input {
   flex-grow: 1;
}

.emoji,
.command {
}
